#gameName {
  font-family: "Shojumaru", system-ui;
  font-weight: 400;
  font-style: normal;
  position: relative;
  bottom: 31%;
  left: 2%;
  background-size: cover;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1s ease forwards;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media query (mobile) */

@media (max-width: 629px) and (max-height: 1000px) {
  #gameName {
    margin-left: 10px;
  }
}